node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

.DS_Store
Thumbs.db

Dockerfile
.dockerignore

.git
.gitignore

.env
.env.*  

.vscode
.idea
*.swp

coverage
__tests__
*.test.js
*.spec.js

dist
build
